body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #181c29;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section.intro {
    padding: 20px;
    text-align: center;
}

section.intro img {
    max-width: 100%;
    height: auto;
}

.video {
    padding: 16px;
}

.txt-center {
    text-align: center;
}

table, tr, td {
    border: 1px solid white;
    border-collapse: collapse;
}

.complex-list {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-family: Arial, sans-serif;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.complex-list h2 {
    text-align: center;
    color: #333;
    font-size: 1.8em;
    margin-bottom: 15px;
}

.platform-list {
    list-style-type: none;
    padding-left: 0;
}

.platform-list > li {
    margin: 10px 0;
    font-weight: bold;
    color: #444;
}

.platform-list ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 20px;
}

.platform-list ul > li {
    margin: 5px 0;
    font-weight: normal;
    color: #555;
}

.platform-list ul ul > li {
    font-style: italic;
    color: #666;
}
